@font-face {
  font-family: "RubLight";
  src: url("../fonts/Rubik/Rubik-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RubReg";
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "RubMed";
  src: url("../fonts/Rubik/Rubik-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "RubBold";
  src: url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "DMReg";
  src: url("../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf") format("truetype"); }

html {
  font-size: 62.5%; }

.heading-primary {
  font-family: "DMReg", serif;
  font-size: calc(12 * 1vw);
  color: #fff;
  line-height: 100%;
  margin-bottom: 5vh; }
  @media screen and (min-width: 1023px) {
    .heading-primary {
      font-size: calc(6 * 1vw); } }
  @media (min-width: 1023px) and (max-height: 800px) {
    .heading-primary {
      font-size: calc(8 * 1vw); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #FEF8F5; }
  body::-webkit-scrollbar {
    width: 5px;
    background: transparent; }
  body::-webkit-scrollbar-thumb {
    background-color: #7e7e7e65;
    background-color: #ef5c5767; }
  body.open {
    overflow: hidden; }

.logo {
  flex-basis: calc(100% - 35px);
  z-index: 10;
  display: flex;
  align-items: center;
  cursor: pointer; }
  @media screen and (min-width: 1023px) {
    .logo {
      flex-basis: auto; } }
  .logo--text {
    font-family: "DMReg", serif;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: #fff; }
    @media screen and (min-width: 1023px) {
      .logo--text {
        font-size: 3.2rem; } }
  .logo--img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem; }
    @media screen and (min-width: 1023px) {
      .logo--img {
        height: 5rem;
        width: 5rem;
        margin-right: 1rem; } }

.btn {
  height: 40px;
  width: 150px;
  padding: 0 2rem;
  background: #EE4D47;
  background-size: 400%;
  background-position: left;
  border: none;
  border-radius: 0.5rem;
  font-family: "RubBold", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; }
  @media screen and (min-width: 1023px) {
    .btn {
      height: 50px;
      width: 180px;
      font-size: 1.3rem; } }
  @media screen and (min-width: 1023px) {
    .btn {
      height: 60px;
      width: 220px;
      font-size: 1.6rem; } }
  .btn-nav {
    height: 50px;
    letter-spacing: 1.8px;
    font-size: 1.6rem; }
    @media screen and (min-width: 1023px) {
      .btn-nav {
        height: 60px;
        width: 160px; } }
  .btn-cta__text {
    margin-right: 2rem;
    transition: all 0.3s ease; }
  .btn-cta:hover .btn-cta__text,
  .btn-cta:active .btn-cta__text {
    margin-right: 1rem; }

.icon-arrow-right {
  width: 20px;
  height: 8px; }
  @media screen and (min-width: 1023px) {
    .icon-arrow-right {
      width: 30px;
      height: 10px; } }

.nav__hamburger--container {
  order: 1;
  flex-basis: 35px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 1023px) {
    .nav__hamburger--container {
      order: 2;
      display: none; } }

.nav__hamburger {
  z-index: 10;
  height: 24px;
  width: 35px;
  position: relative;
  cursor: pointer; }
  .nav__hamburger-span {
    display: block;
    position: absolute;
    height: 4px;
    background-color: #fff;
    transition: all 0.25s ease-in-out; }
    .nav__hamburger-span--1 {
      left: 0;
      top: 0;
      width: 21px; }
    .nav__hamburger-span--2 {
      left: 0;
      top: 10px;
      width: 35px; }
    .nav__hamburger-span--3 {
      left: 0;
      top: 10px;
      width: 35px; }
    .nav__hamburger-span--4 {
      right: 0;
      top: 20px;
      width: 21px; }
  .nav__hamburger.open .nav__hamburger-span--1 {
    width: 0;
    top: 10px;
    right: 50%;
    transform: scale(0) translateX(100px); }
  .nav__hamburger.open .nav__hamburger-span--2 {
    transform: rotate(-45deg);
    top: 10px; }
  .nav__hamburger.open .nav__hamburger-span--3 {
    transform: rotate(45deg);
    top: 10px; }
  .nav__hamburger.open .nav__hamburger-span--4 {
    width: 0;
    top: 10px;
    transform: scale(0) translateX(-100px); }

.hero {
  background: url(../img/hero-small-bg.svg) no-repeat;
  background-size: auto 100vh; }
  @media screen and (min-width: 499px) {
    .hero {
      background: url(../img/hero-medium-bg.svg) no-repeat;
      background-size: auto 100vh; } }
  @media screen and (min-width: 699px) {
    .hero {
      background-size: 100% auto; } }
  @media screen and (min-width: 1023px) {
    .hero {
      background: url(../img/hero-large-bg.svg) no-repeat; } }
  @media (min-width: 1023px) and (max-height: 800px) {
    .hero {
      background-size: 125vw auto; } }

.nav {
  max-height: calc(4.5vh + 35px);
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 2.25vh 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: url(../img/menu-bg.svg) top no-repeat, url(../img/menu-bg-1.svg) top no-repeat;
  background-size: 0, 260%;
  background-position: 50% -10rem;
  transition: all 0.5s ease-in;
  z-index: 10000; }
  @media screen and (min-width: 1023px) {
    .nav {
      max-height: calc(5.5vh + 6rem);
      position: relative;
      padding: 5vh 15vw 0 15vw;
      flex-wrap: nowrap;
      background: none; } }
  @media (min-width: 1200px) and (max-width: 1400px) {
    .nav {
      padding: 5vh 13vw 0 13vw; } }
  @media (min-width: 1023px) and (max-height: 800px) {
    .nav {
      padding: 2vh 5vw 0 5vw; } }
  .nav.open {
    max-height: 80vh;
    background-size: 160%, 0;
    background-position: center;
    border-bottom-left-radius: 4.5rem;
    border-bottom-right-radius: 4.5rem;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px rgba(245, 136, 109, 0.25); }
  .nav__list {
    order: 2;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    visibility: hidden;
    transform: translateY(-140%);
    transition: transform 0.8s 0s, padding 0.8s, visibility 0.4s; }
    @media screen and (min-width: 1023px) {
      .nav__list {
        height: 6rem;
        width: auto;
        order: 1;
        transform: translateY(0);
        visibility: visible;
        flex-direction: row; } }
  .nav.open .nav__list {
    transform: translateY(0);
    padding: 7.5rem 0;
    visibility: visible; }
  .nav__item {
    transition: all 0.3s ease-in 0.2s; }
    .nav__item--1 {
      transform: translate(80px, -40px); }
    .nav__item--2 {
      transform: translate(-80px, 0); }
    .nav__item--3 {
      transform: translate(80px, 20px); }
    .nav__item--4 {
      transform: translate(0, 0); }
    @media screen and (min-width: 1023px) {
      .nav__item {
        transform: translate(0px, 0px); } }
    .nav__item:not(:last-child) {
      margin-bottom: 3.5rem; }
      @media screen and (min-width: 1023px) {
        .nav__item:not(:last-child) {
          margin-bottom: 0;
          margin-right: 10rem; } }
  .nav.open .nav__item--1 {
    transform: translate(0px, 0px); }
  .nav.open .nav__item--2 {
    transform: translate(0px, 0px); }
  .nav.open .nav__item--3 {
    transform: translate(0px, 0px); }
  .nav.open .nav__item--4 {
    transform: translate(0, 0); }
  .nav__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: #fff;
    font-family: "RubBold", sans-serif;
    font-size: 1.6rem; }

@media screen and (min-width: 499px) {
  .section-hero {
    height: 100%; } }

.section-hero__content-box {
  height: 125vh;
  position: relative;
  overflow: hidden;
  padding: 0 2.5rem;
  padding: 23.5vh 2.5rem 0 2.5rem; }
  @media screen and (min-width: 499px) {
    .section-hero__content-box {
      padding: 15vh 5rem 0 5rem; } }
  @media screen and (min-width: 1023px) {
    .section-hero__content-box {
      padding: 10vh 17vw 0 17vw; } }
  @media (min-width: 1023px) and (max-width: 1290px) {
    .section-hero__content-box {
      background-size: 125vw auto; } }
  @media (min-width: 1200px) and (max-width: 1400px) {
    .section-hero__content-box {
      padding: 8vh 13vw 0 13vw; } }
  .section-hero__content-box .illustration-car {
    max-height: 28vh;
    width: auto;
    position: absolute;
    top: 98vh;
    transform: translateX(-40%);
    z-index: 16; }
    @media screen and (min-width: 499px) {
      .section-hero__content-box .illustration-car {
        top: 96vh; } }
    @media screen and (min-width: 1023px) {
      .section-hero__content-box .illustration-car {
        transform: translateX(-55%);
        max-height: 25vw;
        top: 86vh; } }
    @media (min-width: 1200px) and (max-width: 1400px) {
      .section-hero__content-box .illustration-car {
        top: 74vh; } }
    @media (min-width: 1023px) and (max-width: 1290px) {
      .section-hero__content-box .illustration-car {
        transform: translateX(-45%);
        top: 67vh; } }
    @media (min-width: 1023px) and (max-width: 1459px) {
      .section-hero__content-box .illustration-car {
        top: 67vh; } }
    @media (min-width: 1023px) and (max-height: 1025px) {
      .section-hero__content-box .illustration-car {
        transform: translateX(-55%);
        top: 50vh; } }
    @media (min-width: 1023px) and (max-height: 800px) {
      .section-hero__content-box .illustration-car {
        top: 70vh; } }
    @media screen and (min-width: 1459px) {
      .section-hero__content-box .illustration-car {
        transform: translateX(-55%);
        top: 75vh; } }
  .section-hero__content-box .illustration-humans {
    max-height: 42vh;
    max-width: 53vw;
    position: absolute;
    right: 1rem;
    top: 70vh;
    z-index: 12; }
    @media screen and (min-width: 499px) {
      .section-hero__content-box .illustration-humans {
        top: 60vh; } }
    @media screen and (min-width: 699px) {
      .section-hero__content-box .illustration-humans {
        right: 9.5rem; } }
    @media screen and (min-width: 1023px) {
      .section-hero__content-box .illustration-humans {
        max-height: calc(32 * 1vw);
        right: 15vw; } }
    @media (min-width: 1023px) and (max-width: 1290px) {
      .section-hero__content-box .illustration-humans {
        right: 0; } }
    @media (min-width: 1023px) and (max-width: 1459px) {
      .section-hero__content-box .illustration-humans {
        top: 40vh; } }
    @media (min-width: 1023px) and (max-height: 1025px) {
      .section-hero__content-box .illustration-humans {
        top: 25vh;
        right: 10vw; } }
    @media (min-width: 1023px) and (max-height: 800px) {
      .section-hero__content-box .illustration-humans {
        top: 40vh;
        right: 0; } }
    @media screen and (min-width: 1459px) {
      .section-hero__content-box .illustration-humans {
        max-height: calc(32 * 1vw);
        right: 13vw;
        top: 40vh; } }
