@font-face {
  font-family: "RubikLight";
  src: url("../fonts/Rubik/Rubik-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RubikRegular";
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "RubikMedium";
  src: url("../fonts/Rubik/Rubik-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "RubikBold";
  src: url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "DMRegular";
  src: url("../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf") format("truetype"); }

html {
  font-size: 62.5%; }

p::selection,
a::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
button::selection {
  background-color: #ee4c4780;
  color: #fff; }

.uppercase {
  text-transform: uppercase; }

.heading-primary {
  font-family: "DM Serif Display", serif;
  font-size: calc(12 * 1vw);
  color: #fff;
  line-height: 100%;
  margin-bottom: 5vh; }
  @media screen and (min-width: 1023px) {
    .heading-primary {
      font-size: calc(6 * 1vw); } }
  @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
    .heading-primary {
      font-size: calc(8 * 1vw); } }

.heading-secondary {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #ee4d47;
  font-size: 1.8rem;
  line-height: 167%;
  letter-spacing: 0.1em; }
  @media screen and (min-width: 499px) {
    .heading-secondary {
      font-size: 2.2rem; } }
  @media screen and (min-width: 1023px) {
    .heading-secondary {
      font-size: 2.4rem; } }

.heading-tertiary {
  font-family: "DM Serif Display", serif;
  font-size: 2.8rem;
  line-height: 140%;
  color: #402b2b;
  margin-top: 2.5rem; }
  @media screen and (min-width: 699px) {
    .heading-tertiary {
      font-size: 3.2rem; } }
  @media screen and (min-width: 1023px) {
    .heading-tertiary {
      font-size: 4rem; } }
  @media screen and (min-width: 1459px) {
    .heading-tertiary {
      font-size: 4.8rem; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #FEF8F5; }
  body::-webkit-scrollbar {
    width: 5px;
    background: transparent; }
  body::-webkit-scrollbar-thumb {
    background-color: #7e7e7e65;
    background-color: #ef5c5767; }
  body.open {
    overflow: hidden; }

.logo {
  flex-basis: calc(100% - 35px);
  z-index: 10;
  display: flex;
  align-items: center;
  cursor: pointer; }
  @media screen and (min-width: 1023px) {
    .logo {
      flex-basis: auto; } }
  .logo--text {
    font-family: "DM Serif Display", serif;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: #fff; }
    @media screen and (min-width: 1023px) {
      .logo--text {
        font-size: 3.2rem; } }
    @media (min-width: 1023px) and (max-height: 800px) {
      .logo--text {
        font-size: 2.8rem; } }
  .logo--img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem; }
    @media screen and (min-width: 1023px) {
      .logo--img {
        height: 5rem;
        width: 5rem;
        margin-right: 1rem; } }
    @media (min-width: 1023px) and (max-height: 800px) {
      .logo--img {
        height: 4rem;
        width: 4rem; } }

.btn {
  height: 40px;
  width: 180px;
  padding: 0 2rem;
  background: #EE4D47;
  background-size: 400%;
  background-position: left;
  border: none;
  border-radius: 0.5rem;
  font-family: "RubikBold", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; }
  @media screen and (min-width: 499px) {
    .btn {
      height: 50px;
      width: 180px;
      font-size: 1.3rem; } }
  @media (min-width: 759px) and (max-width: 900px) {
    .btn {
      height: 60px;
      width: 220px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1023px) {
    .btn {
      height: 60px;
      width: 220px;
      font-size: 1.6rem; } }
  @media (min-width: 1023px) and (max-height: 800px) {
    .btn {
      height: 50px;
      width: 180px;
      font-size: 1.3rem; } }
  .btn-nav {
    height: 50px;
    letter-spacing: 1.8px;
    font-size: 1.6rem; }
    @media screen and (min-width: 499px) {
      .btn-nav {
        height: 50px;
        width: 180px; } }
    @media (min-width: 759px) and (max-width: 900px) {
      .btn-nav {
        height: 60px;
        width: 220px; } }
    @media screen and (min-width: 1023px) {
      .btn-nav {
        height: 60px;
        width: 160px; } }
    @media (min-width: 1023px) and (max-height: 800px) {
      .btn-nav {
        height: 50px;
        font-size: 1.4rem; } }
  .btn-cta__text {
    margin-right: 2rem;
    transition: all 0.3s ease; }
  .btn-cta:hover .btn-cta__text,
  .btn-cta:active .btn-cta__text {
    margin-right: 1rem; }

.icon-arrow-right {
  width: 20px;
  height: 8px; }
  @media screen and (min-width: 1023px) {
    .icon-arrow-right {
      width: 30px;
      height: 10px; } }

.nav__hamburger--container {
  order: 1;
  flex-basis: 35px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 1023px) {
    .nav__hamburger--container {
      order: 2;
      display: none; } }

.nav__hamburger {
  z-index: 10;
  height: 24px;
  width: 35px;
  position: relative;
  cursor: pointer; }
  .nav__hamburger-span {
    display: block;
    position: absolute;
    height: 4px;
    background-color: #fff;
    transition: all 0.25s ease-in-out; }
    .nav__hamburger-span--1 {
      left: 0;
      top: 0;
      width: 21px; }
    .nav__hamburger-span--2 {
      left: 0;
      top: 10px;
      width: 35px; }
    .nav__hamburger-span--3 {
      left: 0;
      top: 10px;
      width: 35px; }
    .nav__hamburger-span--4 {
      right: 0;
      top: 20px;
      width: 21px; }
  .nav__hamburger.open .nav__hamburger-span--1 {
    width: 0;
    top: 10px;
    right: 50%;
    transform: scale(0) translateX(100px); }
  .nav__hamburger.open .nav__hamburger-span--2 {
    transform: rotate(-45deg);
    top: 10px; }
  .nav__hamburger.open .nav__hamburger-span--3 {
    transform: rotate(45deg);
    top: 10px; }
  .nav__hamburger.open .nav__hamburger-span--4 {
    width: 0;
    top: 10px;
    transform: scale(0) translateX(-100px); }

.article {
  background: linear-gradient(#fcddd466, #fcddd466);
  padding: 1.5rem;
  border-radius: 0.6rem;
  border-left: 0.6rem solid #ed4d47;
  max-width: 32rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 499px) {
    .article {
      max-width: 40rem;
      padding: 2rem 2.5rem; } }
  @media screen and (min-width: 1023px) {
    .article {
      border-radius: 1rem;
      border-left: 1rem solid #ed4d47;
      padding: 3rem 5.5rem;
      min-width: 57rem; } }
  @media (min-width: 1023px) and (max-width: 1459px) {
    .article {
      padding: 2rem 3rem;
      min-width: 42rem; } }
  @media (min-width: 1023px) and (max-width: 1100px) and (min-height: 1350px) {
    .article {
      padding: 2rem 3rem;
      min-width: 53rem; } }
  @media (min-width: 1023px) and (max-width: 1200px) and (max-height: 801px) {
    .article {
      padding: 2rem 3rem;
      min-width: 42rem; } }
  .article__text {
    opacity: 1;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 148%; }
    @media screen and (min-width: 499px) {
      .article__text {
        font-size: 1.8rem; } }
    @media screen and (min-width: 1459px) {
      .article__text {
        font-size: 2.4rem;
        line-height: 150%; } }

.hero {
  background: url(../img/hero-small-bg.svg) no-repeat;
  background-size: 100vw auto; }
  @media screen and (min-width: 499px) {
    .hero {
      background: url(../img/hero-medium-bg.svg) no-repeat;
      background-size: auto 100vh; } }
  @media screen and (min-width: 699px) {
    .hero {
      background-size: 100% auto; } }
  @media screen and (min-width: 1023px) {
    .hero {
      background: url(../img/hero-large-bg.svg) no-repeat; } }
  @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
    .hero {
      background-size: 125vw auto; } }
  @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
    .hero {
      background-size: 125vw auto; } }

.nav {
  max-height: calc(4.5vh + 35px);
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 2.25vh 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-size: 0, 260%;
  background-position: 50% -10rem;
  transition: all 0.5s ease;
  z-index: 10000;
  background-color: #f5886dab; }
  @media screen and (min-width: 1023px) {
    .nav {
      max-height: calc(5.5vh + 6rem);
      position: relative;
      padding: 5vh 15vw 0 15vw;
      flex-wrap: nowrap;
      background: none; } }
  @media (min-width: 1200px) and (max-width: 1441px) {
    .nav {
      padding: 5vh 13vw 0 13vw; } }
  @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
    .nav {
      padding: 2vh 5vw 0 5vw; } }
  @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
    .nav {
      padding: 2vh 5vw 0 5vw; } }
  .nav.open {
    max-height: 80vh;
    background-size: 160%, 0;
    background-position: center;
    border-bottom-left-radius: 4.5rem;
    border-bottom-right-radius: 4.5rem;
    margin-bottom: 10px;
    background-color: #f5886dd0;
    box-shadow: 0 4px 4px rgba(245, 136, 109, 0.25); }
  .nav__list {
    order: 2;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    visibility: hidden;
    transform: translateY(-140%);
    transition: transform 0.6s 0s, padding 0.6s, visibility 0.4s; }
    @media screen and (min-width: 1023px) {
      .nav__list {
        height: 6rem;
        width: auto;
        order: 1;
        transform: translateY(0);
        visibility: visible;
        flex-direction: row; } }
  .nav.open .nav__list {
    transform: translateY(0);
    padding: 7.5rem 0;
    visibility: visible; }
  .nav__item {
    transition: all 0.2s ease 0.15s; }
    .nav__item--1 {
      transform: translate(80px, -40px); }
    .nav__item--2 {
      transform: translate(-80px, 0); }
    .nav__item--3 {
      transform: translate(80px, 20px); }
    .nav__item--4 {
      transform: translate(0, 0); }
    @media screen and (min-width: 1023px) {
      .nav__item {
        transform: translate(0px, 0px); } }
    .nav__item:not(:last-child) {
      margin-bottom: 3.5rem; }
      @media screen and (min-width: 1023px) {
        .nav__item:not(:last-child) {
          margin-bottom: 0;
          margin-right: 10rem; } }
  .nav.open .nav__item--1 {
    transform: translate(0px, 0px); }
  .nav.open .nav__item--2 {
    transform: translate(0px, 0px); }
  .nav.open .nav__item--3 {
    transform: translate(0px, 0px); }
  .nav.open .nav__item--4 {
    transform: translate(0, 0); }
  .nav__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 1.6rem; }
    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
      .nav__link {
        font-size: 1.4rem; } }

.section-hero__content-box {
  height: 125vh;
  position: relative;
  overflow: hidden;
  padding: 0 2.5rem;
  padding: 23.5vh 2.5rem 0 2.5rem; }
  @media (min-width: 359px) and (max-width: 415px) and (min-height: 740px) {
    .section-hero__content-box {
      height: 115vh; } }
  @media screen and (min-width: 499px) {
    .section-hero__content-box {
      padding: 15vh 5rem 0 5rem; } }
  @media screen and (min-width: 1023px) {
    .section-hero__content-box {
      padding: 10vh 15vw 0 15vw; } }
  @media (min-width: 1200px) and (max-width: 1441px) {
    .section-hero__content-box {
      padding: 8vh 13vw 0 13vw; } }
  @media (min-width: 1400px) and (max-width: 1441px) {
    .section-hero__content-box {
      height: 110vh; } }
  @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
    .section-hero__content-box {
      height: 60vh;
      padding: 5vh 13vw 0 13vw; } }
  @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
    .section-hero__content-box {
      height: 100vh; } }
  @media (min-width: 1023px) and (max-width: 1200px) and (max-height: 801px) {
    .section-hero__content-box {
      height: 105vh; } }
  @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 801px) {
    .section-hero__content-box {
      height: 150vh; } }
  @media screen and (min-width: 1859px) {
    .section-hero__content-box {
      height: 135vh; } }
  .section-hero__content-box .illustration-car {
    max-height: 28vh;
    width: auto;
    position: absolute;
    top: 98vh;
    transform: translateX(-40%);
    z-index: 16; }
    @media (min-width: 359px) and (max-width: 415px) and (min-height: 740px) {
      .section-hero__content-box .illustration-car {
        top: 88vh; } }
    @media screen and (min-width: 499px) {
      .section-hero__content-box .illustration-car {
        top: 96vh; } }
    @media (min-width: 799px) and (max-width: 900px) {
      .section-hero__content-box .illustration-car {
        top: 88vh; } }
    @media screen and (min-width: 1023px) {
      .section-hero__content-box .illustration-car {
        transform: translateX(-55%);
        max-height: 25vw;
        top: 86vh; } }
    @media (min-width: 1023px) and (max-width: 1459px) {
      .section-hero__content-box .illustration-car {
        top: 74vh; } }
    @media (min-width: 1400px) and (max-width: 1441px) {
      .section-hero__content-box .illustration-car {
        top: 65vh; } }
    @media (min-width: 1023px) and (max-width: 1290px) {
      .section-hero__content-box .illustration-car {
        transform: translateX(-45%);
        top: 67vh; } }
    @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
      .section-hero__content-box .illustration-car {
        top: 40vh; } }
    @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1025px) {
      .section-hero__content-box .illustration-car {
        transform: translateX(-55%);
        top: 65vh; } }
    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
      .section-hero__content-box .illustration-car {
        transform: translateX(-55%);
        top: 65vh; } }
    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
      .section-hero__content-box .illustration-car {
        top: 70vh; } }
    @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 801px) {
      .section-hero__content-box .illustration-car {
        top: 98vh; } }
    @media screen and (min-width: 1459px) {
      .section-hero__content-box .illustration-car {
        transform: translateX(-55%);
        top: 75vh; } }
    @media screen and (min-width: 1859px) {
      .section-hero__content-box .illustration-car {
        top: 83vh; } }
  .section-hero__content-box .illustration-humans {
    max-height: 42vh;
    max-width: 30vh;
    position: absolute;
    right: 1rem;
    top: 70vh;
    z-index: 12; }
    @media (min-width: 359px) and (max-width: 415px) and (min-height: 740px) {
      .section-hero__content-box .illustration-humans {
        top: 60vh; } }
    @media screen and (min-width: 499px) {
      .section-hero__content-box .illustration-humans {
        top: 65vh; } }
    @media screen and (min-width: 699px) {
      .section-hero__content-box .illustration-humans {
        right: 6rem; } }
    @media (min-width: 799px) and (max-width: 900px) {
      .section-hero__content-box .illustration-humans {
        right: 4rem;
        top: 62vh; } }
    @media screen and (min-width: 1023px) {
      .section-hero__content-box .illustration-humans {
        max-height: 55vh;
        max-width: 40vh;
        right: 15vw; } }
    @media (min-width: 1023px) and (max-width: 1459px) {
      .section-hero__content-box .illustration-humans {
        top: 37vh;
        right: 25vw; } }
    @media (min-width: 1400px) and (max-width: 1441px) {
      .section-hero__content-box .illustration-humans {
        top: 30vh; } }
    @media (min-width: 1023px) and (max-width: 1100px) and (min-height: 1350px) {
      .section-hero__content-box .illustration-humans {
        max-height: 38vh;
        max-width: 33vh;
        top: 15vh;
        right: 5vw; } }
    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
      .section-hero__content-box .illustration-humans {
        top: 30vh;
        right: 5vw; } }
    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
      .section-hero__content-box .illustration-humans {
        top: 35vh;
        right: 10vh; } }
    @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 801px) {
      .section-hero__content-box .illustration-humans {
        top: 60vh; } }
    @media screen and (min-width: 1459px) {
      .section-hero__content-box .illustration-humans {
        right: 25vw;
        top: 40vh; } }
    @media screen and (min-width: 1859px) {
      .section-hero__content-box .illustration-humans {
        right: 28vw;
        top: 45vh; } }

.section-about, .section-how {
  padding: 0 2.5rem;
  margin-top: 3rem; }
  @media screen and (min-width: 499px) {
    .section-about, .section-how {
      padding: 0 5rem; } }
  @media screen and (min-width: 1023px) {
    .section-about, .section-how {
      padding: 0 15vw; } }
  @media (min-width: 1200px) and (max-width: 1441px) {
    .section-about, .section-how {
      padding: 0 13vw; } }
  @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
    .section-about, .section-how {
      padding: 0 8vw; } }
  @media screen and (min-width: 1859px) {
    .section-about, .section-how {
      top: 83vh; } }
  .section-about__illustration, .section-how__illustration {
    height: 35vh; }
    @media screen and (min-width: 899px) {
      .section-about__illustration, .section-how__illustration {
        width: 100%;
        height: 100%; } }
  .section-about__content-box, .section-how__content-box {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 899px) {
      .section-about__content-box, .section-how__content-box {
        flex-direction: row;
        height: 100%;
        width: 100%; } }
  .section-about__figure, .section-how__figure {
    order: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 499px) {
      .section-about__figure, .section-how__figure {
        justify-content: center; } }
  .section-about__paragraph, .section-how__paragraph {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: calc(1rem + 0.8vw);
    line-height: 200%;
    color: #402b2b;
    max-width: 33rem;
    margin: 3rem 0 4rem 0; }
    @media screen and (min-width: 499px) {
      .section-about__paragraph, .section-how__paragraph {
        max-width: 40rem; } }
    @media screen and (min-width: 899px) {
      .section-about__paragraph, .section-how__paragraph {
        margin: 4rem 0 7rem 0;
        line-height: 222%;
        max-width: 46rem; } }
    @media (min-width: 1023px) and (max-width: 1459px) {
      .section-about__paragraph, .section-how__paragraph {
        max-width: 40rem;
        font-size: 1.6rem; } }
    @media (min-width: 1023px) and (max-width: 1200px) and (max-height: 801px) {
      .section-about__paragraph, .section-how__paragraph {
        font-size: calc(1rem + 0.6vw);
        max-width: 40rem; } }
    @media screen and (min-width: 1459px) {
      .section-about__paragraph, .section-how__paragraph {
        font-size: 1.8rem; } }

@media screen and (min-width: 899px) {
  .section-about {
    padding: 0 8vw 0 15vw;
    margin: 5vh 0 18vh 0; } }

@media (min-width: 1023px) and (max-width: 1100px) and (min-height: 1350px) {
  .section-about {
    margin: 5vh 0 5vh 0;
    padding: 0 5vw; } }

.section-about__figure {
  justify-content: flex-end; }
  @media screen and (min-width: 899px) {
    .section-about__figure {
      order: 1;
      width: 60%; } }

.section-about__information {
  margin-bottom: 3rem; }
  @media screen and (min-width: 899px) {
    .section-about__information {
      padding-top: 7.5rem;
      width: 50%;
      margin-right: 3rem; } }

@media screen and (min-width: 899px) {
  .section-how {
    padding: 0 15vw 0 8vw; } }

@media (min-width: 1023px) and (max-width: 1100px) and (min-height: 1350px) {
  .section-how {
    padding: 0 5vw; } }

.section-how__figure {
  justify-content: flex-start; }
  @media screen and (min-width: 499px) {
    .section-how__figure {
      justify-content: flex-end; } }
  @media screen and (min-width: 899px) {
    .section-how__figure {
      justify-content: center;
      order: 0;
      width: 80%;
      margin-right: 3rem; } }
  @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
    .section-how__figure {
      order: 0;
      width: 50%; } }

@media screen and (min-width: 899px) {
  .section-how__information {
    padding-top: 7.5rem;
    width: 50%; } }

@media (min-width: 1023px) and (max-width: 1100px) and (min-height: 1350px) {
  .section-how__paragraph {
    max-width: 40rem; } }

@media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
  .section-about, .section-how {
    padding: 0 5vw; } }

.section-faq {
  margin: 100px 0;
  position: relative;
  padding: 0 2.5rem; }
  @media screen and (min-width: 499px) {
    .section-faq {
      padding: 0 5rem; } }
  @media screen and (min-width: 1023px) {
    .section-faq {
      margin: 0; } }
  .section-faq__background {
    position: absolute;
    top: 4rem;
    right: 0;
    background: #fdede8;
    height: 100%;
    width: 88%;
    border-top-left-radius: 5.5rem;
    z-index: -1; }
    @media screen and (min-width: 699px) {
      .section-faq__background {
        width: 80%; } }
    @media screen and (min-width: 899px) {
      .section-faq__background {
        width: 75%; } }
  .section-faq__content-box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 699px) {
      .section-faq__content-box {
        padding-top: 8rem; } }
  .section-faq__content {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 699px) {
      .section-faq__content {
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
    @media screen and (min-width: 899px) {
      .section-faq__content {
        margin-bottom: 8rem; } }
  .section-faq__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 4rem 0; }
    @media screen and (min-width: 1023px) {
      .section-faq__figure {
        padding: 0; } }
  .section-faq__illustration {
    height: 20vh; }
    @media screen and (min-width: 1023px) {
      .section-faq__illustration {
        height: 25vh; } }
    @media (min-width: 1200px) and (max-width: 1441px) {
      .section-faq__illustration {
        height: 50vh; } }
    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
      .section-faq__illustration {
        height: 30vh; } }
    @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 1025px) {
      .section-faq__illustration {
        height: 30vh; } }
    @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 801px) {
      .section-faq__illustration {
        height: 50vh; } }
    @media screen and (min-width: 1459px) {
      .section-faq__illustration {
        height: 50vh; } }
  .section-faq__questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    @media screen and (min-width: 899px) {
      .section-faq__questions {
        max-width: 1120px;
        flex-direction: row;
        justify-content: space-around; } }
    @media screen and (min-width: 899px) {
      .section-faq__questions--side-left, .section-faq__questions--side-right {
        width: 45%; } }
  .section-faq .question-box {
    position: relative;
    overflow: hidden;
    height: 5.5rem;
    z-index: 3;
    margin-bottom: 0.5rem;
    background: #fff7f5;
    transition: all 0.35s ease-in-out;
    box-shadow: 0px 11.8273px 23.6545px rgba(238, 77, 71, 0.1); }
    @media screen and (min-width: 899px) {
      .section-faq .question-box {
        margin-bottom: 1rem; } }
    .section-faq .question-box.open {
      margin-bottom: 2.5rem; }
  .section-faq .question,
  .section-faq .question__more-btn {
    padding: 0 2rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    justify-content: space-between;
    cursor: pointer; }
    @media screen and (min-width: 899px) {
      .section-faq .question,
      .section-faq .question__more-btn {
        max-width: 55rem;
        border-radius: 1rem; } }
  .section-faq .question {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    transition: box-shadow 300ms 100ms; }
    .section-faq .question.open {
      box-shadow: 0px 11.8273px 23.6545px #ee4d471a; }
    .section-faq .question.open .question__icon .question__icon--span-1 {
      transform: translate(-50%, -50%) rotate(180deg); }
    .section-faq .question.open .question__icon .question__icon--span-2 {
      transform: translate(-50%, -50%) rotate(360deg); }
    .section-faq .question__name {
      font-family: "Rubik", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: calc(1rem + 0.8vw);
      line-height: 148%;
      max-width: 88%; }
      @media (min-width: 1023px) and (max-width: 1459px) {
        .section-faq .question__name {
          font-size: 1.6rem; } }
      @media (min-width: 1023px) and (max-width: 1200px) and (max-height: 801px) {
        .section-faq .question__name {
          font-size: calc(1rem + 0.6vw); } }
      @media screen and (min-width: 1459px) {
        .section-faq .question__name {
          font-size: 1.8rem; } }
    .section-faq .question__icon {
      position: relative;
      overflow: hidden;
      width: 16px;
      height: 16px;
      cursor: pointer; }
      .section-faq .question__icon--span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 100%;
        border-radius: 3px;
        transition: 0.3s ease-in-out;
        transition: all 0.25s ease;
        background-color: #EE4D47; }
        @media screen and (min-width: 899px) {
          .section-faq .question__icon--span {
            width: 20px;
            height: 3px; } }
        .section-faq .question__icon--span-2 {
          transform: translate(-50%, -50%) rotate(90deg); }
          @media screen and (min-width: 899px) {
            .section-faq .question__icon--span-2 {
              width: 20px; } }
    .section-faq .question__more-btn {
      width: 100%;
      margin-top: 1.5rem;
      border: none;
      background: #ed4d4733;
      box-shadow: 0px 11.8273px 23.6545px #ee4d471a; }
      .section-faq .question__more-btn p {
        flex-grow: 1;
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: calc(1rem + 0.6vw);
        color: #EE4D47;
        text-align: center; }
  .section-faq .question-box,
  .section-faq .question,
  .section-faq .question__more-btn {
    height: 6rem;
    width: 100%;
    border-radius: 0.6rem;
    box-shadow: 0px 11.8273px 23.6545px rgba(114, 114, 114, 0.1); }
    @media screen and (max-width: 359px) {
      .section-faq .question-box,
      .section-faq .question,
      .section-faq .question__more-btn {
        height: 6rem; } }
    @media screen and (min-width: 899px) {
      .section-faq .question-box,
      .section-faq .question,
      .section-faq .question__more-btn {
        height: 8rem; } }
    @media screen and (min-width: 1459px) {
      .section-faq .question-box,
      .section-faq .question,
      .section-faq .question__more-btn {
        height: 9rem; } }
  .section-faq .answer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2.5rem 2rem 3.5rem 2rem;
    background: #fff7f5;
    border-radius: 0.6rem;
    z-index: 6;
    display: flex;
    align-items: center;
    transition: all 0.35s ease-in-out; }
    @media screen and (min-width: 899px) {
      .section-faq .answer {
        border-radius: 1rem; } }
    @media screen and (min-width: 1459px) {
      .section-faq .answer {
        padding: 4rem 3.5rem 6rem 3.5rem; } }
    .section-faq .answer__text {
      font-family: "Rubik", sans-serif;
      font-style: normal;
      font-weight: 300;
      color: #402b2b;
      line-height: 161%;
      font-size: calc(1rem + 0.8vw);
      transition: color 0s 0.25s; }
      @media (min-width: 1023px) and (max-width: 1459px) {
        .section-faq .answer__text {
          font-size: 1.6rem; } }
      @media (min-width: 1023px) and (max-width: 1200px) and (max-height: 801px) {
        .section-faq .answer__text {
          font-size: calc(1rem + 0.6vw); } }
      @media screen and (min-width: 1459px) {
        .section-faq .answer__text {
          font-size: 1.8rem; } }

.section-testimonials__top-box {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.section-testimonials__heading-box, .section-testimonials__top-box {
  padding: 0 2.5rem; }

.section-testimonials__arrow {
  width: 4rem;
  height: 1.8rem;
  fill: #EE4D47;
  opacity: 50%; }
  .section-testimonials__arrow.active {
    opacity: 100%; }

.section-testimonials .testimonial {
  margin: 1.5rem 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4.5rem 3.5rem 3rem 3.5rem;
  border-radius: 0.7rem;
  box-shadow: 0px 1.2rem 2.5rem rgba(238, 77, 71, 0.1); }
  .section-testimonials .testimonial__text {
    font-family: "RubikLight", sans-serif;
    font-size: 1.2rem;
    line-height: 193%;
    margin-bottom: 5rem; }
  .section-testimonials .testimonial__user-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .section-testimonials .testimonial__user-picture-box {
    overflow: hidden;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    margin-right: 1.5rem; }
  .section-testimonials .testimonial__user-picture {
    width: 100%;
    height: 100%; }
  .section-testimonials .testimonial__user-name {
    font-family: "RubikMedium", sans-serif;
    font-size: 1.3rem; }

.footer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; }
  .footer .copy {
    font-family: "RubikLight", sans-serif;
    font-size: 1.2rem; }
    .footer .copy a {
      text-decoration: none;
      color: #EE4D47;
      font-family: "RubikMedium", sans-serif; }
  .footer .social {
    display: flex;
    align-items: center; }
    .footer .social__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      background-color: #EE4D47;
      border-radius: 100%;
      margin-left: 1rem; }
    .footer .social__icon {
      fill: #fff;
      height: 60%; }
