//
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

body {
  background-color: #FEF8F5;

  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #7e7e7e65;
    background-color: #ef5c5767;
  }
  &.open {
    overflow: hidden;
  }
}
