.hero {
  background: url(../img/hero-small-bg.svg) no-repeat;
  // background-size: auto 100vh;
  background-size: 100vw auto;

  @include breakpointMin(small) {
    background: url(../img/hero-medium-bg.svg) no-repeat;
    // background-size: 100%;
    background-size: auto 100vh;
  }
  @include breakpointMin(medium) {
    background-size: 100% auto;
  }

  @include breakpointMin(large) {
    background: url(../img/hero-large-bg.svg) no-repeat;
  }

  @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
    background-size: 125vw auto;
  }

  @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
    background-size: 125vw auto;
  }

  // @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 801px) {
  //   background-size: 110vw auto;
  // }
  // @include breakpointMinMaxCustom(1023px, 1290px) {
  //   background-size: 125vw auto;
  // }
}

.nav {
  max-height: calc(4.5vh + 35px);
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 2.25vh 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // background: url(../img/menu-bg.svg) top no-repeat,
  //   url(../img/menu-bg-1.svg) top no-repeat;
  background-size: 0, 260%;
  background-position: 50% -10rem;
  transition: all 0.5s ease;
  z-index: 10000;
  background-color: #f5886dab;

  @include breakpointMin(large) {
    max-height: calc(5.5vh + 6rem);
    position: relative;
    padding: 5vh 15vw 0 15vw;
    flex-wrap: nowrap;
    background: none;
  }

  @include breakpointMinMaxCustom(1200px, 1441px) {
    padding: 5vh 13vw 0 13vw;
  }
  @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
    padding: 2vh 5vw 0 5vw;
  }

  @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
    padding: 2vh 5vw 0 5vw;
  }

  &.open {
    max-height: 80vh;
    background-size: 160%, 0;
    background-position: center;
    border-bottom-left-radius: 4.5rem;
    border-bottom-right-radius: 4.5rem;
    margin-bottom: 10px;
    background-color: #f5886dd0;
    box-shadow: 0 4px 4px rgba(245, 136, 109, 0.25);
  }

  &__list {
    order: 2;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    visibility: hidden;
    transform: translateY(-140%);
    transition: transform 0.6s 0s, padding 0.6s, visibility 0.4s;

    @include breakpointMin(large) {
      height: 6rem;
      width: auto;
      order: 1;
      transform: translateY(0);
      visibility: visible;
      flex-direction: row;
      // margin-right: 12vw;
    }
  }

  &.open &__list {
    transform: translateY(0);
    padding: 7.5rem 0;
    visibility: visible;
  }
  &__item {
    transition: all 0.2s ease 0.15s;
    &--1 {
      transform: translate(80px, -40px);
    }
    &--2 {
      transform: translate(-80px, 0);
    }
    &--3 {
      transform: translate(80px, 20px);
    }
    &--4 {
      transform: translate(0, 0);
    }

    @include breakpointMin(large) {
      transform: translate(0px, 0px);
    }
    &:not(:last-child) {
      margin-bottom: 3.5rem;

      @include breakpointMin(large) {
        margin-bottom: 0;
        margin-right: 10rem;
      }
    }
  }

  &.open &__item {
    &--1 {
      transform: translate(0px, 0px);
    }
    &--2 {
      transform: translate(0px, 0px);
    }
    &--3 {
      transform: translate(0px, 0px);
    }
    &--4 {
      transform: translate(0, 0);
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: #fff;
    font-family: $fontRubik;
    font-weight: bold;
    font-size: 1.6rem;

    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
      font-size: 1.4rem;
    }
  }
}

.section {
  &-hero {
    &__content-box {
      height: 125vh;
      position: relative;
      overflow: hidden;
      padding: 0 2.5rem;
      padding: 23.5vh 2.5rem 0 2.5rem;

      @media (min-width: 359px) and (max-width: 415px) and (min-height: 740px) {
        height: 115vh;
      }

      @include breakpointMin(small) {
        padding: 15vh 5rem 0 5rem;
      }

      @include breakpointMin(large) {
        padding: 10vh 15vw 0 15vw;
      }
      @include breakpointMinMaxCustom(1200px, 1441px) {
        padding: 8vh 13vw 0 13vw;
      }

      @include breakpointMinMaxCustom(1400px, 1441px) {
        height: 110vh;
      }

      @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
        height: 60vh;
        padding: 5vh 13vw 0 13vw;
      }

      @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
        height: 100vh;
      }

      @media (min-width: 1023px) and (max-width: 1200px) and (max-height: 801px) {
        height: 105vh;
      }
      @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 801px) {
        height: 150vh;
      }

      @include breakpointMin(xxlarge) {
        height: 135vh;
      }

      .illustration-car {
        max-height: 28vh;
        width: auto;
        position: absolute;
        top: 98vh;
        transform: translateX(-40%);
        z-index: 16;

        @media (min-width: 359px) and (max-width: 415px) and (min-height: 740px) {
          top: 88vh;
        }
        @include breakpointMin(small) {
          top: 96vh;
        }
        @include breakpointMinMaxCustom(799px, 900px) {
          top: 88vh;
        }
        @include breakpointMin(large) {
          transform: translateX(-55%);
          max-height: 25vw;
          top: 86vh;
        }
        @include breakpointMinMax(large, xlarge) {
          top: 74vh;
        }
        @include breakpointMinMaxCustom(1400px, 1441px) {
          top: 65vh;
        }
        @include breakpointMinMaxCustom(1023px, 1290px) {
          transform: translateX(-45%);
          top: 67vh;
        }
        @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
          top: 40vh;
        }
        @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1025px) {
          transform: translateX(-55%);
          top: 65vh;
        }
        @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
          transform: translateX(-55%);
          top: 65vh;
        }
        @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
          top: 70vh;
        }
        @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 801px) {
          top: 98vh;
        }
        @include breakpointMin(xlarge) {
          transform: translateX(-55%);
          top: 75vh;
        }

        @include breakpointMin(xxlarge) {
          // right: 28vw;
          top: 83vh;
        }
      }
      .illustration-humans {
        max-height: 42vh;
        max-width: 30vh;
        position: absolute;
        right: 1rem;
        top: 70vh;
        z-index: 12;

        @media (min-width: 359px) and (max-width: 415px) and (min-height: 740px) {
          top: 60vh;
        }
        @include breakpointMin(small) {
          top: 65vh;
        }
        @include breakpointMin(medium) {
          right: 6rem;
        }
        @include breakpointMinMaxCustom(799px, 900px) {
          right: 4rem;
          top: 62vh;
        }
        @include breakpointMin(large) {
          max-height: 55vh;
          max-width: 40vh;
          right: 15vw;
        }
        @include breakpointMinMax(large, xlarge) {
          top: 37vh;
          right: 25vw;
        }
        @include breakpointMinMaxCustom(1400px, 1441px) {
          top: 30vh;
          // right: 25vw;
        }
        @media (min-width: 1023px) and (max-width: 1100px) and (min-height: 1350px) {
          max-height: 38vh;
          max-width: 33vh;
          top: 15vh;
          right: 5vw;
        }

        @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
          top: 30vh;
          right: 5vw;
        }
        @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
          top: 35vh;
          right: 10vh;
        }
        @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 801px) {
          top: 60vh;
        }
        @include breakpointMin(xlarge) {
          right: 25vw;
          top: 40vh;
        }
        @include breakpointMin(xxlarge) {
          right: 28vw;
          top: 45vh;
        }
      }
    }
  }

  &-about,
  &-how {
    padding: 0 2.5rem;
    margin-top: 3rem;

    @include breakpointMin(small) {
      padding: 0 5rem;
    }

    @include breakpointMin(large) {
      padding: 0 15vw;
    }
    @include breakpointMinMaxCustom(1200px, 1441px) {
      padding: 0 13vw;
    }

    @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
      padding: 0 8vw;
    }
    @include breakpointMin(xlarge) {
    }

    @include breakpointMin(xxlarge) {
      top: 83vh;
    }

    &__illustration {
      height: 35vh;

      @include breakpointMin(xmedium) {
        width: 100%;
        height: 100%;
      }
    }
    &__content-box {
      display: flex;
      flex-direction: column;

      @include breakpointMin(xmedium) {
        flex-direction: row;
        height: 100%;
        width: 100%;
      }
    }

    &__figure {
      order: 1;
      width: 100%;
      height: 100%;
      @include flex-center;

      @include breakpointMin(small) {
        justify-content: center;
      }
    }

    &__paragraph {
      font-family: $fontRubik;
      font-style: normal;
      font-weight: 300;
      // font-size: 1.3rem;
      font-size: calc(1rem + 0.8vw);
      line-height: 200%;
      color: #402b2b;
      max-width: 33rem;
      margin: 3rem 0 4rem 0;

      @include breakpointMin(small) {
        max-width: 40rem;
        // font-size: 1.6rem;
      }
      @include breakpointMin(xmedium) {
        margin: 4rem 0 7rem 0;
        // font-size: 1.8rem;
        line-height: 222%;
        max-width: 46rem;
      }
      @include breakpointMinMax(large, xlarge) {
        max-width: 40rem;
        font-size: 1.6rem;
      }

      @media (min-width: 1023px) and (max-width: 1200px) and (max-height: 801px) {
        font-size: calc(1rem + 0.6vw);
        max-width: 40rem;
      }

      @include breakpointMin(xlarge) {
        font-size: 1.8rem;
      }
    }

    &__information {
    }
  }

  &-about {
    @include breakpointMin(xmedium) {
      padding: 0 8vw 0 15vw;
      margin: 5vh 0 18vh 0;
    }

    @media (min-width: 1023px) and (max-width: 1100px) and (min-height: 1350px) {
      margin: 5vh 0 5vh 0;
      padding: 0 5vw;
    }

    &__figure {
      justify-content: flex-end;

      @include breakpointMin(xmedium) {
        order: 1;
        width: 60%;
      }
    }
    &__information {
      margin-bottom: 3rem;

      @include breakpointMin(xmedium) {
        padding-top: 7.5rem;
        width: 50%;
        margin-right: 3rem;
      }
    }
  }

  &-how {
    @include breakpointMin(xmedium) {
      padding: 0 15vw 0 8vw;
    }

    @media (min-width: 1023px) and (max-width: 1100px) and (min-height: 1350px) {
      // margin: 5vh 0 10vh 0;
      padding: 0 5vw;
    }

    &__content-box {
    }

    &__figure {
      justify-content: flex-start;

      @include breakpointMin(small) {
        justify-content: flex-end;
      }

      @include breakpointMin(xmedium) {
        justify-content: center;
        order: 0;
        width: 80%;
        margin-right: 3rem;
      }

      @media (min-width: 1023px) and (max-width: 1100px) and (max-height: 1380px) {
        order: 0;
        width: 50%;
      }
    }
    &__information {
      @include breakpointMin(xmedium) {
        padding-top: 7.5rem;
        width: 50%;
      }
    }
    &__paragraph {
      @media (min-width: 1023px) and (max-width: 1100px) and (min-height: 1350px) {
        max-width: 40rem;
      }
    }
  }

  &-about,
  &-how {
    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
      padding: 0 5vw;
    }
    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
    }
    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
    }
    @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 801px) {
    }
  }

  &-faq {
    margin: 100px 0;
    position: relative;
    padding: 0 2.5rem;

    @include breakpointMin(small) {
      padding: 0 5rem;
    }
    @include breakpointMin(large) {
      margin: 0;
    }

    &__background {
      position: absolute;
      top: 4rem;
      right: 0;
      background: #fdede8;
      height: 100%;
      width: 88%;
      border-top-left-radius: 5.5rem;
      // border-bottom-left-radius: 50px;
      z-index: -1;

      @include breakpointMin(medium) {
        width: 80%;
      }
      @include breakpointMin(xmedium) {
        width: 75%;
      }
    }

    &__content-box {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      @include breakpointMin(medium) {
        padding-top: 8rem;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;

      @include breakpointMin(medium) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      @include breakpointMin(xmedium) {
        margin-bottom: 8rem;
      }
    }

    &__figure {
      @include flex-center;
      padding: 2rem 0 4rem 0;

      @include breakpointMin(large) {
        padding: 0;
      }
    }

    &__illustration {
      height: 20vh;

      @include breakpointMin(large) {
        height: 25vh;
      }
      @include breakpointMinMaxCustom(1200px, 1441px) {
        height: 50vh;
      }

      @include breakpointMinMaxCustom(1400px, 1441px) {
        // height: 110vh;
      }
      @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
      }
      @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 1025px) {
      }
      @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
        height: 30vh;
      }
      @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 1025px) {
        height: 30vh;
      }
      @media (min-width: 1200px) and (max-width: 1300px) and (max-height: 801px) {
        height: 50vh;
      }
      @include breakpointMin(xlarge) {
        height: 50vh;
      }
    }

    &__questions {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @include breakpointMin(xmedium) {
        max-width: 1120px;
        flex-direction: row;
        justify-content: space-around;
      }

      &--side-left,
      &--side-right {
        @include breakpointMin(xmedium) {
          width: 45%;
        }
      }
    }

    .question-box {
      position: relative;
      overflow: hidden;
      height: 5.5rem;
      z-index: 3;
      margin-bottom: 0.5rem;
      background: #fff7f5;
      transition: all 0.35s ease-in-out;
      box-shadow: 0px 11.8273px 23.6545px rgba(238, 77, 71, 0.1);

      @include breakpointMax(xsmall) {
        // height: 6rem;
      }

      @include breakpointMin(xmedium) {
        // height: 9rem;
        margin-bottom: 1rem;
      }

      &.open {
        margin-bottom: 2.5rem;
      }
    }

    .question,
    .question__more-btn {
      padding: 0 2rem;
      height: 5.5rem;
      @include flex-center;
      border-radius: 0.6rem;
      justify-content: space-between;
      cursor: pointer;

      @include breakpointMax(xsmall) {
        // height: 6rem;
      }

      @include breakpointMin(xmedium) {
        // height: 9rem;
        max-width: 55rem;
        border-radius: 1rem;
      }
    }

    .question {
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9;
      transition: box-shadow 300ms 100ms;

      &.open {
        box-shadow: 0px 11.8273px 23.6545px #ee4d471a;
      }

      &.open .question__icon .question__icon--span-1 {
        transform: translate(-50%, -50%) rotate(180deg);
      }

      &.open .question__icon .question__icon--span-2 {
        transform: translate(-50%, -50%) rotate(360deg);
      }

      &__name {
        font-family: $fontRubik;
        font-style: normal;
        font-weight: 500;
        font-size: calc(1rem + 0.8vw);
        line-height: 148%;
        max-width: 88%;

        @include breakpointMinMax(large, xlarge) {
          font-size: 1.6rem;
        }
        @media (min-width: 1023px) and (max-width: 1200px) and (max-height: 801px) {
          font-size: calc(1rem + 0.6vw);
        }
        @include breakpointMin(xlarge) {
          font-size: 1.8rem;
        }
      }
      &__icon {
        position: relative;
        overflow: hidden;
        width: 16px;
        height: 16px;
        cursor: pointer;

        &--span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 1px;
          width: 100%;
          border-radius: 3px;
          transition: 0.3s ease-in-out;
          transition: all 0.25s ease;
          background-color: $color-red-primary;

          @include breakpointMin(xmedium) {
            width: 20px;
            height: 3px;
          }
          &-2 {
            transform: translate(-50%, -50%) rotate(90deg);

            @include breakpointMin(xmedium) {
              width: 20px;
            }
          }
        }
      }

      &__more-btn {
        width: 100%;
        margin-top: 1.5rem;
        border: none;
        background: #ed4d4733;
        box-shadow: 0px 11.8273px 23.6545px #ee4d471a;

        p {
          flex-grow: 1;
          font-family: $fontRubik;
          font-style: normal;
          font-weight: bold;
          font-size: calc(1rem + 0.6vw);
          color: $color-red-primary;
          text-align: center;
        }
      }
    }

    .question-box,
    .question,
    .question__more-btn {
      height: 6rem;
      width: 100%;
      border-radius: 0.6rem;
      box-shadow: 0px 11.8273px 23.6545px rgba(114, 114, 114, 0.1);

      @include breakpointMax(xsmall) {
        height: 6rem;
      }
      @include breakpointMin(xmedium) {
        height: 8rem;
      }
      @include breakpointMin(xlarge) {
        height: 9rem;
      }
    }

    .answer {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 2.5rem 2rem 3.5rem 2rem;
      background: #fff7f5;
      border-radius: 0.6rem;
      z-index: 6;
      display: flex;
      align-items: center;
      transition: all 0.35s ease-in-out;

      @include breakpointMin(xmedium) {
        border-radius: 1rem;
      }
      @include breakpointMin(xlarge) {
        padding: 4rem 3.5rem 6rem 3.5rem;
      }

      &__text {
        font-family: $fontRubik;
        font-style: normal;
        font-weight: 300;
        // color: #fff7f5;
        color: #402b2b;
        line-height: 161%;
        font-size: calc(1rem + 0.8vw);
        transition: color 0s 0.25s;

        @include breakpointMinMax(large, xlarge) {
          font-size: 1.6rem;
        }
        @media (min-width: 1023px) and (max-width: 1200px) and (max-height: 801px) {
          font-size: calc(1rem + 0.6vw);
        }
        @include breakpointMin(xlarge) {
          font-size: 1.8rem;
        }
      }
    }
  }

  &-testimonials {
    &__top-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__heading-box,
    &__top-box {
      padding: 0 2.5rem;
    }
    &__content-box {
    }

    &__arrow {
      width: 4rem;
      height: 1.8rem;
      fill: $color-red-primary;
      opacity: 50%;

      &-box {
      }
      &-right {
      }
      &-left {
      }
      &.active {
        opacity: 100%;
      }
    }

    .testimonials {
      // background-color: rebeccapurple;
    }

    .testimonial {
      margin: 1.5rem 1.5rem 3rem 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // width: 33rem;
      // height: 28rem;
      padding: 4.5rem 3.5rem 3rem 3.5rem;
      border-radius: 0.7rem;
      box-shadow: 0px 1.2rem 2.5rem rgba(238, 77, 71, 0.1);

      &__text {
        font-family: $fontRubLight;
        font-size: 1.2rem;
        line-height: 193%;
        margin-bottom: 5rem;
      }
      &__user {
        &-box {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        &-picture-box {
          overflow: hidden;
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 100%;
          margin-right: 1.5rem;
        }
        &-picture {
          width: 100%;
          height: 100%;
        }
        &-name {
          font-family: $fontRubMed;
          font-size: 1.3rem;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  .copy {
    font-family: $fontRubLight;
    font-size: 1.2rem;

    a {
      text-decoration: none;
      color: $color-red-primary;
      font-family: $fontRubMed;
    }
  }

  .social {
    display: flex;
    align-items: center;

    &__link {
      @include flex-center;
      width: 3rem;
      height: 3rem;
      background-color: $color-red-primary;
      border-radius: 100%;
      margin-left: 1rem;
    }

    &__icon {
      fill: #fff;
      height: 60%;
    }
  }
}