@font-face {
  font-family: "RubLight";
  src:  url("../fonts/Rubik/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "RubReg";
  src:  url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RubMed";
  src:  url("../fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RubBold";
  src:  url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DMReg";
  src:  url("../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf") format("truetype");
}

html {
  font-size: 62.5%;
}

.heading {
  &-primary {
    font-family: $fontDM;
    font-size: 4.5rem;
    color: #fff;
    line-height: 100%;
    margin: 13.5vh 0 7vh 0;

    &.open {
      margin: 13.5vh 0 7vh 0;
      margin-top: calc(13.5vh + 66.69px);
    }
  }
}