@font-face {
  font-family: "RubikLight";
  src: url("../fonts/Rubik/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "RubikRegular";
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RubikMedium";
  src: url("../fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RubikBold";
  src: url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DMRegular";
  src: url("../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf")
    format("truetype");
}

html {
  font-size: 62.5%;
}
p,
a,
h2,
h3,
h4,
h5,
h6,
button {
  &::selection {
    background-color: $color-red-secondary;
    color: #fff;
  }
}

.uppercase {
  text-transform: uppercase;
}

.heading {
  &-primary {
    font-family: $fontDM;
    // font-size: 4.5rem;
    font-size: calc(12 * 1vw);
    color: #fff;
    line-height: 100%;
    margin-bottom: 5vh;

    @include breakpointMin(large) {
      font-size: calc(6 * 1vw);
    }

    @media (min-width: 1023px) and (max-width: 1300px) and (max-height: 801px) {
      font-size: calc(8 * 1vw);
    }
  }

  &-secondary {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #ee4d47;
    font-size: 1.8rem;
    line-height: 167%;
    letter-spacing: 0.1em;

    @include breakpointMin(small) {
      font-size: 2.2rem;
    }

    @include breakpointMin(large) {
      font-size: 2.4rem;
    }
  }

  &-tertiary {
    font-family: $fontDM;
    font-size: 2.8rem;
    line-height: 140%;
    color: #402b2b;
    margin-top: 2.5rem;

    @include breakpointMin(medium) {
      font-size: 3.2rem;
    }
    @include breakpointMin(large) {
      font-size: 4rem;
    }
    @include breakpointMin(xlarge) {
      font-size: 4.8rem;
    }
  }
}
