// variables
$fontRubReg: "RubikRegular", sans-serif;
$fontRubLight: "RubikLight", sans-serif;
$fontRubMed: "RubikMedium", sans-serif;
$fontRubBold: "RubikBold", sans-serif;
$fontDM: "DMRegular", serif;

$fontRubReg: "RubikRegular", sans-serif;
$fontRubLight: "RubikLight", sans-serif;
$fontRubMed: "RubikMedium", sans-serif;
$fontRubBold: "RubikBold", sans-serif;
$fontDM: 'DM Serif Display', serif;
$fontRubik: 'Rubik', sans-serif;


// colors
$color-red-primary: #EE4D47;
$color-red-primary-darker: #ef5c57;
$color-red-secondary: #ee4c4780;
$color-gradient-dark: #F5896D;
$color-gradient-light: #FEE0B0;
$color-gradient-light: rgba(0, 161, 171, 0.733);
$color-blue-dark: #0F264C;

// mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media queries manager
// Breakpoints
$breakpoints: (
  xsmall: 359px,
  small: 499px,
  medium: 699px,
  xmedium: 899px,
  large: 1023px,
  xlarge: 1459px,
  xxlarge: 1859px,
  xxxlarge: 2099px,
);

@mixin breakpointMax($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (max-width: $breakpoint-value) {
    @content;
  }
}
@mixin breakpointMin($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}
@mixin breakpointMinMax($sizeMin, $sizeMax) {
  $breakpoint-value-min: map-get($breakpoints, $sizeMin);
  $breakpoint-value-max: map-get($breakpoints, $sizeMax);

  @media (min-width: $breakpoint-value-min) and (max-width: $breakpoint-value-max) {
    @content;
  }
}
@mixin breakpointMinMaxCustom($sizeMin, $sizeMax) {
  @media (min-width: $sizeMin) and (max-width: $sizeMax) {
    @content;
  }
}